body {
    background-color: #d3bfd593;
}

.tudo {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    min-height: 50vh;
    width: 30%;
}

button {
    width: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    color: #eec5ee;
    background-color: #f884df;
}
#header {
    margin-bottom: 10px;
    color: #ee00bb;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}

#header,
#weekdays {
    width: 100%;
}

#container {
    max-width: 90%;
    margin: 60px 30px;
    padding: 10px;
    border: 3px solid #ee00bb;
    border-radius: 15px;
    box-sizing: border-box;
}
#weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Cria 7 colunas de largura igual */
    gap: 10px;
    color: #000000;
    text-align: center;
}
#weekdays div {
    font-size: small;
}
#calendar {
    display: flex;
    flex-wrap: wrap;
}
.day {
    font-size: xx-small;
    background-color: #f6e2f6cc;
    flex: 1 0 calc(100% / 7 - 10px); /* Cada dia terá uma flexibilidade e uma base calculada */
    margin: 5px; /* Espaçamento entre os dias */
    max-width: calc(100% / 7 - 10px);
    min-height: 5vh;
}
.day:hover {
    background-color: #edb6e1;
}

.day + #currentDay {
    background-color: #f1c6e7;
}

.padding {
    cursor: default !important;
    background-color: #f6e2f6cc !important;
    box-shadow: none !important;
    opacity: 0.5; /* Adiciona opacidade para diferenciar os dias de outros meses */
}

@media (max-width: 768px) {
    #container {
        margin: 40px auto; /* Margem menor para tablets */
        max-width: 95%; /* Largura máxima maior para usar mais espaço na tela */
    }
}

/* Estilos para telas de celulares */
@media (max-width: 480px) {
    #container {
        margin: 20px auto; /* Margem menor para celulares */
        max-width: 100%; /* Usa toda a largura disponível na tela */
    }
}
