:root {
    --color-primary: #000000;
    --color-secondary: #000000;
    --details: #e383f0;
    --fundo-card-timer: rgba(184, 109, 181, 0.325);
    --lils: #545252;
    --linear-botes: linear-gradient(180deg, #b872ff 0%, #b67ed8 100%);
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    background: var(--main-bg-color);
    min-height: 100vh;
    font-size: 10px;
}

body {
    min-height: 100vh;
    background: #d3bfd593;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Unbounded", cursive;
}

.app__section-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 10rem;
}

.app__title {
    width: 200%;
    line-height: 150%;
    font-size: 6rem;
    color: var(--color-secondary);
    text-align: center;
}

.app__title-strong {
    width: 120%;
    font-weight: 500;
}

.app__section-card-container {
    display: flex;
    justify-content: center;
}

.app__card {
    border-radius: 3.2rem;
    border: 0.2rem solid var(--details);
    background: var(--fundo-card-timer);
    padding: 2.4rem;
    margin: 5rem 0;
    width: 100rem;
    max-width: 90%;
}

.app__card-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.app__card-button {
    /* botoes foco e descansos; */
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    background: none;
    padding: 0.8rem;
    color: var(--color-secondary);
    border: none;
    cursor: pointer;
    outline: inherit;
}

.app__card-button.active {
    border-radius: 1rem;
    background: var(--details);
    font-weight: 600;
}

.app__card-timer {
    /* cronometro */
    color: var(--color-secondary);
    text-align: center;
    font-family: Unbounded;
    font-size: 12rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 3.2rem;
    text-align: center;
}

.app__card-list-label {
    /* botão de musica; */
    color: var(--color-secondary);
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
}

.app__card-primary-button-wrapper {
    /* imagem e texto do botao começar */
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__card-primary-button {
    padding: 0.8rem;
    width: 12rem;
    color: var(--color-secondary);
    border: none;
    cursor: pointer;
    outline: inherit;
    border-radius: 3.2rem;
    background: var(--details);
    margin-top: 3.2rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: var(--details);
    border-radius: 1.6rem;
    width: 5.8rem;
    height: 3.2rem;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
}

.toggle-checkbox:checked + .toggle-switch {
    background: var(--color-secondary);
}

.toggle-checkbox:checked + .toggle-switch:before {
    left: 3rem;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

/* fim - toggle */

/* Para Tablets */
@media (max-width: 1024px) and (min-width: 768px) {
    .app__section-banner-container {
        width: 80rem;
    }
    .app__title {
        font-size: 5rem;
    }
    .app__card-list {
        gap: 2rem;
    }
}

/* Para Celulares */
@media (max-width: 700px) {
    .app__section-banner-container {
        width: 50rem;
    }
    .app__title {
        font-size: 2.5rem;
    }
    .app__card-timer {
        font-size: 5rem;
    }
    .app__card-button {
        font-size: 1.6rem;
    }
    .app__card-list-label {
        font-size: 1.8rem;
    }
}
